{% extends "layouts/base.html.twig" %}

{% block title %}{% if page_title is defined %}: {{page_title}}{% endif %}{% endblock %}

{% block body %}

    <div class="row splash-image splash-row">
        <div class="small-12 columns">
            <h1>Welcome<strong>Lafayette</strong></h1>
            <h2>Business and organizations in Greater Lafayette that <strong>welcome everyone</strong></h2>
        </div>
    </div>
    <div class="row navigation-row splash-row">
        <div class="small-6 large-6 columns right-align">
            <a href="/search" class="button radius right">Search&nbsp;<i class="fa fa-search"></i></a>
        </div>
        <div class="small-6 large-6 columns left-align">
            <a href="/submit" class="button radius">Submit&nbsp;<i class="fa fa-plus-circle"></i></a>
        </div>
    </div>
    <div class="row splash-row description-row">
        <div class="small-12 large-8 large-offset-2 columns">
            <h3><i class="fa fa-info-circle fa-1x"></i> About this site</h3>
            <p>WelcomeLafayette is a directory of business and organizations in Greater Lafayette, Indiana that are committed to
                welcoming everyone, regardless of religion, age, ethnicity, gender identity or expression, national origin, skin color,
                sexual orientation, or socio-economic status.
            </p>
        </div>
    </div>
{% endblock %}