body {
    background-color: #FFFFFF;
    font-family: "proxima-nova","Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.splash-row {
    margin-bottom: 1em;
    margin:0;
    padding: 1em 0 0 0;
    max-width:100%;
    position:relative;
}
.splash-image {
    background-image: url('/img/splash-courthouse.jpg');
    background-size: auto auto;
    background-attachment: scroll;
    background-position: center -500px;
    background-origin: border-box;
    height:350px;
    position:relative;
    padding-top:0;
}

.splash-image .columns {
    position: absolute;
    bottom: 0px;
    background-color: rgba(000,000,000,.3);
}

.splash-image h1, .splash-image h2 {
    color: white;
    text-shadow: 1px 1px 0 black;
    margin:0;
    /*font-size:5em;*/
}
.splash-image h2 {
    font-size:1.5em;
    margin-bottom: .2em
}

.navigation-row {
    background-color: #262626;
    border-top: 5px solid #999999;
    border-bottom: 5px solid #CCCCCC;
}

.new-orgs-row {
    margin-top:2em;
}
.new-orgs-row h2 {
    margin-left: .7em;
}
.org-box {
    margin-bottom:1em;
    border-bottom: 4px solid #a0d3e8;
    /*background-color: #e1e1e1;*/
    padding:.5em;
    min-height:10em;
    max-height:15em;
}
    .org-box-name {
        font-weight: bold;
        line-height: 1.1em;
    }
    .org-box-citystatezip {
        margin-top:.3em;
        font-size:.8em;
        font-weight:bold;
    }
    .org-box-description {
        margin-top:.3em;
        font-size:.8em;
    }

.description-row {
    border-top: 4px solid #333333;
    background-color: #008CBA;
    margin:2em 0 0em;
    color: white;
    text-shadow: 0px 1px 0 #000000;
}
.description-row h2 {
    color: white;
}

.footer-row {
    padding-top:1em;
    border-top: 5px solid #CCCCCC;
    background-color: #333333;
    max-width: 100%;
    text-shadow: 0px 1px 0 #000000;

}

.footer-row ul {
    list-style: square;
    /*text-transform: uppercase;*/
    color: #CCCCCC;
    font-size: .9em;
    font-weight: bold;
}
.footer-row ul a:link, .footer-row ul a:visited, .footer-row ul a:active {
    color: #b6edff;
}


.form-required {
    color:#990000;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: bold
}

.show-row {
    margin-top:3em;
    margin-bottom: 3em;
}

.show-name {
    font-weight: bold;
    line-height: 1em;
}

.show-image {
    border-bottom: 4px solid #a0d3e8;
}

.contact-info-row {
    padding-bottom: 1.5em;
}

.contact-info {
    color: #666666;
    font-size:.9em;
    /*text-transform: uppercase;*/
    font-weight: bold;
}

.show-contact-item {
    display: inline-block;
    margin-right:.5em;
}

.description-row {
    padding-bottom: 1.5em;
}

.button {
    text-shadow: 0px 1px 0 #000000;
}

